.width-small {
  width: 4rem;
}

.width-medium {
  width: 8rem;
}

.width-large {
  width: 12rem;
}

.table-cell {
  padding: .5rem;
}

.table-header-cell {
  padding: .5rem;
  font-weight: bold;;  
}